61. 입력 값들의 평균 구하기. (첫 번째 값 0이면 에러)

In [1]:
num_list = []
while True :
    a = int(input())
    num_list.append(a)
    if num_list[0]==0:
        print("첫번째 값은 0이 될 수 없습니다.")
    else : 
        if a==0:
            break
        else :
            avg_num = sum(num_list)/len(num_list) 
print(avg_num)

2
4
6
0
4.0

63. 섭씨온도, 화씨온도 변환테이블 만들기.

In [2]:
for i in range (1,101):
    f = (9/5)*i +32
    print(i,f)

1 33.8
2 35.6
3 37.4
4 39.2
5 41.0
6 42.8
7 44.6
8 46.4
9 48.2
10 50.0
11 51.8
12 53.6
13 55.400000000000006
14 57.2
15 59.0
16 60.8
17 62.6
18 64.4
19 66.2
20 68.0
21 69.80000000000001
22 71.6
23 73.4
24 75.2
25 77.0
26 78.80000000000001
27 80.6
28 82.4
29 84.2
30 86.0
31 87.80000000000001
32 89.6
33 91.4
34 93.2
35 95.0
36 96.8
37 98.60000000000001
38 100.4
39 102.2
40 104.0
41 105.8
42 107.60000000000001
43 109.4
44 111.2
45 113.0
46 114.8
47 116.60000000000001
48 118.4
49 120.2
50 122.0
51 123.8
52 125.60000000000001
53 127.4
54 129.2
55 131.0
56 132.8
57 134.60000000000002
58 136.4
59 138.2
60 140.0
61 141.8
62 143.60000000000002
63 145.4
64 147.2
65 149.0
66 150.8
67 152.60000000000002
68 154.4
69 156.2
70 158.0
71 159.8
72 161.6
73 163.4
74 165.20000000000002
75 167.0
76 168.8
77 170.6
78 172.4
79 174.20000000000002
80 176.0
81 177.8
82 179.6
83 181.4
84 183.20000000000002
85 185.0
86 186.8
87 188.6
88 190.4
89 192.20000000000002
90 194.0
91 195.8
92 197.6
93 199.4
94 201.20000000000002
95 203.0
96 204.8
97 206.6
98 208.4
99 210.20000000000002
100 212.0

66. 학점평균 구하기.

In [3]:
grade_list = []
grade = {'A+':4.0,'A':4.0,'A-':3.7,'B+':3.3,'B':3.0,'B-':2.7,'C+':2.3,'C':2.0,'C-':1.7,'D+':1.3,'D':1.0,'F':0}
while True :
    a = input()
    if a == ' ':
        break
    else:
        grade_list.append(grade[a])
        
print(sum(grade_list)/len(grade_list))

A+
B+
D+
A
B-

3.06

67. 조건에 따른 입장료 구하기.

In [4]:
price_list = []
while True :
    a = input()
    if a == ' ':
        break
    else : 
        b = int(a)
        if b <=2 :
            price = 0
        elif b<=12 :
            price = 12
        elif b <= 64:
            price = 23
        else :
            price = 18
        price_list.append(price)
print(sum(price_list))

1
5
23
70

53

72.회문 판단하기.

In [5]:
a = input()

for i in range(len(a)//2):
    if a[i] != a[-1-i]:
        result = 'False'
    else :
        result = 'True'
        
print(result)

asa
True

75. 최대공약수 구하기.

In [6]:
def gcd(a,b):
    if a < b :
        (a,b)= (b,a)
    while b != 0:   
        (a,b)= (b,a%b)
    return a  

gcd(4,12)

4

77. 2진수를 10진수로 변환하기.

In [7]:
a=list(input())
result = []
for i in range(len(a)):
    result.insert(i,int(a[i])*2**(len(a)-i-1))
print(sum(result))

1011
11