82. 택시요금 계산

In [3]:
def taxi_fare(meter):
    add_fare = 0.25/140 * meter
    total_fare =  add_fare + 4
    return total_fare

In [4]:
taxi_fare(500)

4.892857142857142

84. 중간 값 계산

In [7]:
def median_value (a,b,c):
    med_value = sorted(list({a,b,c}))[1]
    return med_value

In [8]:
median_value(4,7,1)

4

85.숫자 값을 서수 값으로 반환하기.

In [10]:
num_dict = {1:'first',2:'second',3:'third',4:'fourth',5:'fifth',6:'sixth',7:'seventh',8:'eighth',9:'ninth',10:'tenth',11:'eleventh',12:'twelfth'}

def convert_num(a):
    con_num  = num_dict[a]
    return con_num

In [11]:
convert_num(3)

'third'

88. 삼각형 성립여부

In [25]:
def is_triangle(a,b,c):
    longest = sorted(list({a,b,c}))[2]
    if longest < sum({a,b,c})-longest:
        return True
    else : 
        return False

In [26]:
is_triangle(3,6,1)

False

92. 소수(Prime Number)판별하기.

In [21]:
def is_prime(a):
    if a < 2:
        return False
    else :
        for i in range(2,a):
            if a % i == 0 :
                return False
            else:
                return True

In [24]:
is_prime(5)

True